# dependencies
/node_modules
/output
.node-version

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
